{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BRcredit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>{% if current_user.is_authenticated %}{{ current_user.username }}, welcome{% else %}Welcome{% endif %} to BRcredit!</h2>
</div>

{% if not current_user.is_authenticated %}
<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript" src="static/main.js"></script>
{% endif %}

<div class="connection-tabs">
    {% include '_borrowers_connections.html' %}
    {% include '_guarantors_connections.html' %}
    {% include '_borrowers_applications.html' %}
</div>
<div class="application-tabs">

</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
