{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BRcredit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="connection-tabs">
    {% include '_borrowers_connections.html' %}
    {% include '_guarantors_connections.html' %}
    {% include '_borrowers_applications.html' %}
</div>
<div class="application-tabs">

</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
