{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BRcredit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Review Application information</h3>
</div>
<div class="row">
	<div class="col-md-4">
	    {{ wtf.quick_form(personal_form) }}
	</div>
	<div class="col-md-4">
	    {{ wtf.quick_form(address_form) }}
	</div>
	<div class="col-md-4">
	    {{ wtf.quick_form(finances_form) }}
	</div>

	<div class="col-md-4">
		<div class="group">
			<label class="control-label" for="amount">Amount:</label> <br />
			<input type="text" name="amount" value="{{ "${:,.0f}".format(terms.amount) }}">
		</div>
		<div class="group">
			<label class="control-label" for="rate">Rate:</label> <br />
			<input type="text" name="rate" value="{{ "%{:,.2f}".format(terms.rate) }}">
		</div>
		<div class="group">
			<label class="control-label" for="installments">Installments:</label> <br />
			<input type="text" name="installments" value="{{ "${:,.0f}".format(terms.installments) }}">
		</div>
		<div class="group">
			<label class="control-label" for="payment">Payment:</label> <br />
			<input type="text" name="payment" value="{{ "${:,.0f}".format(terms.payment) }}">
		</div>
	</div>
</div>
<div class="row">
	<div class="text-center">
	    <form id="Hidden-form-application" method="post" style="display: none">
	        <input type="hidden" name="application_id" value="{{ application_id }}">
	        <input type="hidden" name="applicant" value="{{ applicant }}">
		</form>
		<div class="btn-group" align="center">
		    <a href="" onclick="$('#Hidden-form-application').submit(); return false;" title="My link title" class="btn btn-primary">Submit Application</a>
		</div>
	</div>
</div>
{% endblock %}
