{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BRcredit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Choose payment terms</h3>
</div>
<ul class="terms-list">
    {% for term in terms %}
    <li class="terms-list">
        <div class="terms-list-content card">
            <div class="card-body">
            <ul>
                <li><b>Principal:</b> {{ "${:,.0f}".format(term.amount) }} </li>
                <li><b>Rate:</b> {{ "%{:,.2f}".format(term.rate) }}</li>
                <li><b>Installments:</b> {{ term.installments }} </li>
                <li><b>Monthly Payment:</b> {{ "${:,.2f}".format(term.payment) }}</li>
            </ul>
            </div>
            <div class="card-footer">
                <form id="Hidden-form-terms" method="post" style="display: none">
                        <input type="hidden" name="application_id" value="{{ application_id }}">
                        <input type="hidden" name="applicant" value="{{ applicant }}">
                        <input type="hidden" name="terms_id" value="{{ term.term_id }}">
                </form>
                <div class="btn-group">
                    <a href="" onclick="$('#Hidden-form-terms').submit(); return false;" title="My link title" class="btn btn-primary">Choose these terms</a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}